<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="Javascript.css">
        <title>Javascript Basico</title>
    </head>
    <body>
        <div id="background">
            <div id="header">
                <h1>JavaScript</h1>
            </div>
            <div id="navigation"> 
                <ul><a href="">HOME</a>
                    <li><a href="">Javascript Overview</a>
                        <ul>
                            <li><a href="">Variable A</a></li>
                            <li><a href="">Variable B</a></li>
                            <li><a href="">Data Type</a></li>
                            <li><a href="">Conditionals</a></li>
                            <li><a href="">Loops</a></li>
                            <li><a href="">Funtions</a></li>
                        </ul>
                    </li>
                    <li><a href="">Proyects</a></li>
                    <li><a href="">Assignments</a></li>
                    <li><a href="">Quiz</a></li>
                </ul>
            </div>
            <div id="info">
                <h2>Javascript Basics</h2>
                <p> The use of JavaScript has expanded beyond its web browser roots. JavaScript engines are now embedded in a variety of other software systems,
                     both for server-side website deployments and non-browser applications.
                    Initial attempts at promoting server-side JavaScript usage were Netscape Enterprise Server and Microsoft's Internet Information Services,
                    [41][42] but they were small niches.[43] Server-side usage eventually started to grow in the late 2000s, with the creation of Node.js and other approaches.[43]</p>
                <ul >
                    <li> 
                        <p><a href="">Variable A</a> The Mosaic web browser was released in 1993. As the first browser with a graphical user interface accessible to non-technical people,
                             it played a prominent role in the rapid growth of the nascent World Wide Web.
                             [15] The lead developers of Mosaic then founded the Netscape corporation, which released a more polished browser, Netscape Navigator, in 1994. Navigator
                              quickly became the most used browser.
                        </p>
                    </li>
                    <li>
                        <p><a href="">Variable B</a>During these formative years of the Web, web pages could only be static, lacking the capability for dynamic behavior after
                         the page was loaded in the browser.
                             There was a desire in the burgeoning web development scene to remove this limitation, so in 1995, Netscape decided to add a scripting language to Navigator. 
                             They pursued two routes to achieve this:
                             collaborating with Sun Microsystems to embed the Java programming language, while also hiring Brendan Eich to embed the Scheme language.</p>
                    </li>
                    <li><p>
                        <a href="">Data Type</a>Netscape management soon decided that the best option was for Eich to devise a new language,
                         with syntax similar to Java and less like Scheme or other extant scripting languages.
                          Although the new language and its interpreter implementation were called LiveScript when first shipped as part of a Navigator beta in September 1995,
                           the name was changed to JavaScript for the official release in December.
                        </p>
                    </li>
                    <li><p>
                        <a href="">Conditionals</a>The choice of the JavaScript name has caused confusion, implying that it is directly related to Java.
                         At the time, the dot-com boom had begun and Java was the hot new language,
                         so Eich considered the JavaScript name a marketing ploy by Netscape to give its own new language cachet.
                    </p>
                    </li>
                    <li><p>
                        <a href="">Loops</a>Functions double as object constructors, along with their typical role. Prefixing a function call with new will
                         create an instance of a prototype, inheriting properties and methods from the constructor (including properties from the Object
                          prototype).[57] ECMAScript 5 offers the Object.create method, allowing explicit creation
                         of an instance without automatically inheriting from the Object prototype (older environments can assign the prototype to null)
                    </p></li>
                    <li><p><a href="">funtions</a>Unlike many object-oriented languages, there is no distinction between a function definition and a
                         method definition. Rather, the distinction occurs during function calling; when a function is called as 
                        a method of an object, the function's local this keyword is bound to that object for that invocation.

                    </p>
                    </li>
                </ul>    
            </div>
        <div id="moreinfo">
            <p>For more info check the next URL <a href="">JavaScript!!</a></p>
        </div>
        </div>
    </body>
</html>